PORT=5000
RAYA_API_KEY=
RAYA_BASE_URL=https://hub.getraya.app
RAYA_TTS_VOICE_ID=fed6231c-7e35-4fbe-bbca-254f566e5dd5
RAYA_ENGLISH_TTS_VOICE_ID=0f24fb66-e495-4781-9e84-1224aa7dacde
RAYA_TTS_MODEL=standard
CLIENT_ORIGIN=http://localhost:5173
LLM_BASE_URL=
LLM_API_KEY=
LLM_MODEL=gpt-4o-mini
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_LANGUAGE_MODEL=gpt-4o-mini
RAYA_CALLING_BASE_URL=https://v1.getraya.app/api
RAYA_CALL_AGENT_ID=
RAYA_CALL_AGENT_ID_ENGLISH=
RAYA_CALL_AGENT_ID_HINDI=
RAYA_CALL_AGENT_ID_KANNADA=
RAYA_CALL_AGENT_ID_TELUGU=
RAYA_CALL_AGENT_ID_TA_HI_EN=
RAYA_CALL_AGENT_ID_TE_KA_EN=
RAYA_CALL_AGENT_ID_TAMIL=
RAYA_CALL_COUNTRY_CODE=91
RAYA_CALL_TIMEZONE=Asia/Kolkata
RAYA_OUT_DID=
RAYA_TEST_CALL_NUMBER=
RAYA_TEST_CONTACT_NAME=Candidate
RAYA_MULTILINGUAL_LANGUAGE_ID=
RAYA_MULTILINGUAL_VOICE_ID=
BACKEND_PUBLIC_URL=
RAYA_WEBHOOK_URL=
RAYA_MAX_CALL_DURATION_MINS=5
RAYA_REQUIRED_SILENCE_AFTER_SPEECH=1.5
RAYA_ALLOW_INTERRUPTION=true
RAYA_MIN_USER_SPEECH_TO_INTERRUPT=3
RAYA_LANGUAGE_ID_ENGLISH=14b8d8a0-5c56-450d-877d-cd3d7d922a00
RAYA_LANGUAGE_ID_HINDI=38695ff2-ee6f-4a1c-837b-27ab241377f7
RAYA_LANGUAGE_ID_TAMIL=8892e25b-a9df-4669-8312-7d28e457819a
RAYA_LANGUAGE_ID_KANNADA=f727e061-0217-4446-8b23-c13d7a65515f
RAYA_LANGUAGE_ID_TELUGU=100912e7-cf45-46f8-af36-713699e1deff
